/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Lato', sans-serif;
}
#header {
  width: 36.5384em;
  margin: 50px auto;
}

#content {
  width: 36.5384em;
  min-height: 100%;
  margin: 0 auto;
}

.flash-msg {
  padding: 10px;
  color: #fff
}
.notice {
  background: #58B028;
}

.alert {
  background: #BF1E2E;
}

.styled-form {
  width: 36.5384em;
}

.styled-form .styled-label {
  display: block;
  color: #666;
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
}

.styled-form .styled-input {
  width: 100%;
  font-size: 1em;
  line-height: 1;
}
.status {
  display:inline-block;
  text-align: center;
  padding: 2px;
  color: #FFF;
  width: 50px;
}

.is-in {
  .status {
    background: #58B028;
  }
}

.is-out {
  .status {
    background: #BF1E2E;
  }
}

.name {
  display: inline-block;
  width: 200px;
}

a.update-link {
  margin-left: 20px;
}

.header-logo {
  height: 30px;
}

a {
  color: #303F9F;
}

a:hover {
  color: #FF5722;
}

input {
  padding: 8px;
  border-radius: 2px;
  margin-top: 3px;
  border: 1px solid #ccc;
}
